ul
{
    text-decoration: none;
    list-style-type: none;
    background-color:grey;
    height: 100%;
}
ul li
{
    /* display: block; */
    padding:15px;
   
}
ul li a
{
    /*display: block;*/
    text-decoration: none;
    color: honeydew;
}
